* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    vertical-align: baseline;
  }
  .btn{
    font-family: inherit;
    font-size: inherit;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    background-color: transparent;/*elimina el fondo del boton*/
    display: block;  
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 5px;
  }

  .btn:hover{
    background: turquoise;
  }
  body {
    min-height: 100vh;
    font-size: 100%;
    font-family: var(--tipo-principal);
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
h1{
    color: aqua;
    background: black;
    width: 600px;
    text-align: center;
    padding: 10px;
}
h2{
    padding: 10px;
}
#objetivo{
    background: aqua;
    border: 1px solid #000;
    width: 600px;
}

.historia{
    background: chartreuse ;
    width: 600px;
}
.Dirigir:hover{
    background-color: red;
    color: white;
}

.interactuar:hover{
    background-color: yellow;
    color: blue;
    border: solid black;
    padding: 10px;
    
}
.interactuar{
    padding: 7px;
    margin: 30px;
    width: 80px;
}
.entradas{
    display: block;
    width: 90px;
    padding: 30px;
    margin: 40px ;
    text-align: center;
    border: 2px solid black ;
}
.entradas:hover{
    background: aquamarine;
}
.BTN{
    display: block;
    border: 2px solid black;
    padding: 30px;
    margin: 40px;
    width: 160px ;
}
.BTN:hover{
    background: aquamarine;
}

/*----------------Ventana modal----------------------------*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-contenido {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .cerrar {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .cerrar:hover,
  .cerrar:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  /*--------------------------------------------*/
/*-------------------Menu desplegable--------------*/
#opciones{
    display: none;
}
#ocultar{
    padding: 5px;
}
#ocultar:hover{background-color: red;}

.div{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}

